name: Bundle Charts

on:
  push:
    branches: ["main"]

jobs:
  build:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        chart:
          - "charts/bitnami-charts/bitnami/external-dns"
          - "charts/envoyproxy-gateway/charts/gateway-crds-helm"
          - "charts/envoyproxy-gateway/charts/gateway-helm"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-depth: 0
      - uses: azure/setup-helm@v4.2.0
        id: installHelm
        with:
          version: 'latest'
      - name: Get Meta
        id: meta
        run: |
          echo "REPO_NAME=${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}" >> $GITHUB_OUTPUT
          echo REPOSITORY=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_OUTPUT
          echo REPO_VERSION=${GITHUB_REF_NAME#v} >> $GITHUB_OUTPUT
      - name: Get Version from Chart
        id: get_version
        run: |
          echo HELM_FINAL_VERSION=$(grep -w ^version: ./${{matrix.chart}}/Chart.yaml | cut -d " " -f2) >> $GITHUB_OUTPUT
      - name: Package
        id: package
        run: |
          mkdir dist
          helm package --dependency-update ./${{matrix.chart}} --destination dist
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to registry
        if: github.event_name != 'pull_request'
        id: push
        run: |
          ls -al ./dist
          helm push ./dist/*.tgz oci://${{ steps.meta.outputs.REPOSITORY }}        