name: Bundle Charts

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        chart:
          - "charts/bitnami-charts/bitnami/external-dns"
          - "charts/envoyproxy-gateway/charts/gateway-crds-helm"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: List Dir ${{matrix.chart}}
        run: ls -al ${{matrix.chart}}